/*
Ejercicio completo con HTML y CSS
1. Crear un documento HTML y vincularlo con CSS
2. Crear una estructura HTML que cuente con 
    2.1 Un contenedor general
    2.2 Cabecera
    2.3 Menu
    2.4 Barra Lateral
    2.5 Seccion de Contenido Principal
    2.6 Elementos dentro del contenedor principal
    2.7 Footer
3. Todo el comntenido debe estar dentro del contenedor general
    3.1 Ancho del contenedor 1200px y estar centrado
    3.2 Header debe ocupar el 100% de ancho y texto Centrado
    3.3 el menu debe tener los elementos uno a lado del otro
    3.4 el contenido principal debe tener un ancho del 70%
    3.5 el contenido del contenedor principal debe ser una cuadricula con 4 lineas de dos cajas
    3.6 barra lateral debe tener un 30% de ancho
    3.7 el footer debe tener un ancho del 100% y estar a bajo del todo
*/

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.general{
    width: 1200px;
    background-color: white;
    border: 1px solid grey;
    margin: 0px auto;           /* Alinear los items en el centro de la pantalla*/
    margin-top: 30px;
}

#header{
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: grey;
    color: whitesmoke;
    line-height: 90px;
}

#menu{
    background-color: whitesmoke;
}

#menu ul li{
    /*display: inline-block;*/
    display: block;                 /* ALinear menu Nav de tal manera que queden en bloques y sean uno alado del otro*/
    float: left;
    border-right: 1px solid grey;
    cursor: pointer;
}

#menu ul li a{
    padding: 20px;
    display: block;
    color: grey;    
}

#menu ul li:hover{
    background-color: grey ;
}

#menu > ul li:hover a{          /* atributo hover para hacer la funcion de que cuando pase el cursor cambie de color */
    color: white;
}

#principal{
    float: left;
    width: 69%;
}

#principal h1{
    color: grey;
    text-align: center;
    padding: 10px;
    text-shadow: 1px 1px 2px black; 
}

#lateral{
    float: left;
    width: 30%;
    color: grey;
    background-color: whitesmoke;
    text-align: center;
    min-height: 500px;
    max-height: 1400px;
    margin-top: 15px;
    overflow: scroll;
    overflow-y: scroll;     /* scroll en casilla de texto*/
    overflow-x: hidden;
    
}

.caja{
    width: 40%;
    height: 300px;
    background-color: grey;
    color: white;
    border: 5px solid #444444;
    padding: 20px;
    margin: 15px;
    display: block;
    float: left;
    text-align: center;
    line-height: 300px;
    box-shadow: 0px 0px 15px black;   /* Sombras Horizontal Vertical Grosor y Color*/
    border-radius: 30px 10px 4px 60px;  /* Sup iz, sup der, inf der, inf iz*/
    border-radius: 50%;
    border-radius: 30px;
    
}

.sombra-interior{
    box-shadow: 0px 0px 15px black inset;   /* Sombras de caja interior Horizontal Vertical Grosor y Color*/
}

.clearfix{
    float: none;
    clear: both;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: whitesmoke;
    color: grey;
}

.libre{
    position: absolute;         /*Posicion absoluta que pasa por encima de cualquier elemento*/
    top: 10%;
    left: 0px;
    z-index: 1;             /*Relevancia de elementos para saber cual va encima, mientras mas alto el indice va arriba del todo*/

    color: white;
    background-color: grey;
    border: 1px solid #444444;
    height: 100px;
    width: 80px;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
}

.libre1{
    position: absolute;
    top: 20%;
    left: 0px;
    z-index: 2;
    
    color: white;
    background-color: #444444;
    border: 1px solid grey;
    height: 100px;
    width: 80px;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
}

.fija{
    position: fixed;            /* Posicio fijada donde se sigue el scroll de la pagina*/
    top: 50%;
    left: 0px;
    z-index: 2;
    
    color: white;
    background-color: #444444;
    border: 1px solid grey;
    height: 100px;
    width: 80px;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
}